.container{
	display:flex;
	align-items:center;
	padding: 8px 8px;
	width: 100%;
}

.container div{
	padding: 8px;
}

.container empty{
	padding: 8px;
}

.container a{
	text-decoration: none;
}

.container a:hover{
	text-decoration: underline;
}

.rightalign{
	align: right;
}
